.letters {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    background: #9a9da0;
    padding: 10px;
    border: #434547;
    border-width: 4px;
    border-radius: 50px;
}
.button, .button1 {
    background: rgb(42, 41, 43);
    color: #FFFFFF;
    padding: 1vw;
    margin: 1vw;
    border-width: .5vw;
    border-radius: 10px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2 {
    letter-spacing: 0px;
    line-height: 0%;
    white-space: pre;
    font-family: sans-serif;
}
.button {
    display: inline;
    margin: 0 auto;
}
.buttonline {
    display: flex;
    justify-content: space-around;
}

/* Most of this is on the backburner for being pretty stuff.

Just make the div nice for now

h1 {
    font-family:
}

@media (max-width: 600px) {

} */