.letters {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    background: #9a9da0;
    padding: 10px;
    border: #434547;
    border-width: 4px;
}

/* Most of this is on the backburner for being pretty stuff.

Just make the div nice for now

h1 {
    font-family:
}

@media (max-width: 600px) {

} */